<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Mentorfy - Plataforma que conecta mentorados e navigators para um desenvolvimento profissional mais eficiente.">
   <meta name="author" content="Mentorfy Team">
   <title>Mentorfy</title>

   <!-- Link para o TailwindCSS CDN (versão estável) -->
   <script src="https://cdn.tailwindcss.com"></script>

   <!-- Block para customizações no head -->
   {% block 'head' %}{% endblock %}
</head>
<body class="bg-gray-900 text-white">
   {% block 'body' %}{% endblock %}
</body>
</html>
